body{
    display: flex;
    justify-content: center;
    /* align-items: center; */

    /* vertical align on body */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
/* TODO:add border gradient */
.table{
    position:relative;
    width:400px;
    height:400px;
    /* border-width: 5px;
    border-style: solid;
    border-color:grey; */

    /* FIXME:last minute temporary solution  */
    border-left:5px solid grey;
    border-top:5px solid grey;
    border-right:5px ridge white;
    border-bottom:5px ridge white;
    
    display: flex;
    flex-direction: column; 
    
}

.row{
    display:flex;
    flex-direction:row;
}
.off,.one,.two,.three,.bomb,.zero{
    min-width: 48px;
    min-height: 48px;
    border: 1px dashed black;
    /* text-align: center; */
    font-size: 30px;
    background-color: lightgray;

    /* center element in cells */
    display:flex;
    justify-content: center;
    align-items: center;
}
/* FIXME:hover goes to the last occurence */
.one,.one:hover{
    color:blue;
}
.two,.off:hover{
    color:green;

}
.three,.off:hover{
    color:red;
}
.off{
    color: transparent;
    border-width: 1px;
    border-style:solid;
    border-color:white black black white;

    /* FIXME:only one box-shadow allowed? */
    /* box-shadow: 1px 1px 0px 1px rgba(255,255,255,1) inset;
    box-shadow: -1px -1px 0px 1px rgba(0,0,0,1) inset; */
}

/* FIXME:off doesnt work if that is uncommented */
/* .table::before{
    position: absolute;
    content:"";
    top: -10px;
    left:-10px;
    right:-10px;
    bottom:-10px;
    border-style:solid;
    border-width:5px;
    border-color:linear-gradient(132deg, rgba(0,0,0,1) 0%, rgba(145,145,145,0) 100%);
} */

